<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 마이바티스 동작 방식 추가 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />	
	</settings>
	
	<!-- 마이바티스 패키지 이름 적기 -->
	<typeAliases>
		<package name="board.dto" />
		<package name="member.dto" />
		<package name="admin.dto" />
	</typeAliases>
</configuration>